@import "../../scss/abstracts/variables.module";
@import "../../scss/abstracts/mixins.module";

.container {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  filter: drop-shadow(0 0.25rem 0.5rem rgb($color-black, 0.25));
  @include respond(phone) {
    margin-top: 8rem;
    justify-content: flex-start;
    align-items: center;
  }
}

.heading {
  padding-left: 4rem;
  z-index: 4;
  filter: drop-shadow(5px 5px 5px rgb($color-black, 0.25));
}

.backdrop {
  background-color: rgb($color-black, 0.5);
  position: absolute;
  z-index: 2;
  width: 100vw;
}
