@import "../../scss/abstracts/_variables.module";

.button {
  border: none;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 3rem;
  width: auto;
  color: #3c97e7 !important;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.25);
  transition: 0.25s;
  &:hover {
    background-color: rgba(206, 232, 255, 0.15);
    transition: 0.25s;
  }

  &__bordered {
    @extend.button;
    border: 0.1rem solid rgb(#3c97e7, 0.75);
  }
}
