@import "../../scss/abstracts/_mixins.module";
@import "../../scss/abstracts/_variables.module";

.divider {
  height: 0.25rem;
  background-color: rgb($color-grey, 0.25);
  margin: 4rem 2rem;
  border-radius: 0.25rem;
}
