@import "../../scss/abstracts/mixins.module";

.member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  max-width: 14rem;
  min-width: 14rem;
  overflow: hidden;
  text-align: center;
  height: auto;
  filter: drop-shadow(0 5px 3px rgb(0, 0, 0, 0.2));
  @include respond(big-desktop) {
    max-width: 17rem;
    min-width: 17rem;
  }
  &_name {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    text-decoration: none;
    color: #101010;
    text-align: center;
  }
  &_role {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    text-decoration: none;
    color: #393939;
    text-align: center;
  }
  &_profile {
    transform: scale(1.1);
  }
}

.wrapper {
  &_profile {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0.5rem;
    @include respond(big-desktop) {
      width: 17rem;
      height: 17rem;
    }
  }
  &_names {
  }
}
