@import "../abstracts/variables.module";
@import "../abstracts/mixins.module";
.container {
  padding: 4rem 0rem 0rem 0rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 20rem;
  width: 100vw;
  flex-flow: row wrap;
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  background: linear-gradient(rgb(#000000, 0.5) 50%, rgb(#000000, 0.9));
  filter: drop-shadow(0px 0px 5px rgb($color-black, 0.25));
  @include respond(tab) {
    flex-flow: column wrap;
    max-height: unset;
    padding: 6rem 6rem 4rem 4rem;
    clip-path: none;
    margin-top: 16rem;
    gap: 2rem;
  }
  &_text {
    max-width: 60rem;
  }

  //&_content {
  //  display: flex;
  //  flex-flow: row nowrap;
  //  gap: 4rem;
  //  //gap: 2rem;
  //  align-items: center;
  //  text-align: justify;
  //  @include respond(phone) {
  //    flex-flow: column wrap;
  //  }
  //}

  &_image {
    min-height: 23rem;
    height: 23rem;
    min-width: 30rem;
    width: 30rem;
    overflow: hidden;
    border-radius: 0.5rem;
  }
}

.heading {
  display: inline-block;
  width: 40rem;
  flex: 0 0 100%;
  margin: 1rem 0 0 0;
}

.image {
  object-fit: fill;
  height: 23rem;
  width: 30rem;
}

.divider {
  height: 90%;
  border: 1px solid #8d8b8c;

  @include respond(phone) {
    display: none;
  }
}
