@import "../abstracts/variables.module";
@import "../abstracts/mixins.module";
.container {
  min-height: 20rem;
  width: 100vw;
  @include respond(tab) {
    min-height: 30rem;
  }
  //@include respond(tab) {
  //  min-height: 30rem;
  //}
  @include respond(big-desktop) {
    min-height: 25rem;
  }
  &__socialmedia {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-right: 4rem;
    gap: 0.5rem;
    @include respond(tab) {
      margin-right: 0;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }
  &__site {
    display: flex;
    flex-flow: row;
    gap: 2rem;
    @include respond(phone) {
      justify-items: center;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
    }
  }
  &__top {
    height: 15rem;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    @include respond(big-desktop) {
      height: 18.75rem;
    }
    @include respond(tab) {
      flex-flow: row wrap;
      height: 25rem;
      justify-content: space-evenly;
      padding: 2rem 0;
    }

    @include respond(phone) {
      height: 35rem;
      flex-flow: column wrap;
    }
  }

  &__bottom {
    height: 5rem;
    background-color: $color-dark-green;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(tab) {
      height: 10rem;
    }
    @include respond(big-desktop) {
      height: 6.25rem;
    }
  }

  &__links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    @include respond(phone) {
      flex-flow: row wrap;
    }
  }

  &__logo {
    margin-left: 4rem;
    @include respond(phone) {
      margin-left: 0;
    }
  }
}

.link {
  border-right: 0.15rem solid $color-light-grey;
  padding-right: 2rem;
  padding-left: 2rem;
  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    border: 0;
    padding-right: 0;
  }
  @include respond(phone) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  @include respond(big-desktop) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.paragraph {
  font-size: 1.1rem;
  font-weight: 400;
  color: $color-light-grey;
  @include respond(big-desktop) {
    font-size: 1.4rem;
  }
}

.hycodev_logo {
  position: relative;
  height: 4.5rem;
  width: 5.4rem;
  @include respond(big-desktop) {
    height: 5.625rem;
    width: 6.75rem;
  }
}

.image_social {
  height: 3rem;
  width: 3rem;
  position: relative;
  @include respond(big-desktop) {
    height: 3.75rem;
    width: 3.75rem;
  }
}

.mpi_logo {
  height: 2.5rem;
  width: 14.58rem;
  position: relative;
  @include respond(big-desktop) {
    height: 3rem;
    width: 17.5rem;
  }
}
