@import "../abstracts/variables.module";
@import "../abstracts/mixins.module";
.container {
  padding: 0 16vw;
  margin: 4rem auto;
  position: relative;
  display: flex;
  min-height: 60rem;
  align-content: center;
  flex-flow: nowrap column;

  &_text {
    //display: flex;
    //flex-flow: wrap column;
  }

  &_content {
    //display: flex;
    //flex-flow: row wrap;
    //gap: 2rem;
    //align-items: center;
    text-align: justify;
  }

  &_image {
    min-height: 23rem;
    height: 23rem;
    min-width: 30rem;
    width: 30rem;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  @include respond(phone) {
    margin: 2rem 1rem;
    padding: 0 8vw;
  }
  @include respond(tab) {
    margin: 2rem auto;
  }
}

.heading {
  margin: 1rem 0 0 0;
}

.image {
  object-fit: fill;
  height: 23rem;
  width: 30rem;
}

.swiper {
  width: 40rem;
  height: 27rem;
  float: right;
  margin: 2rem 0 1rem 6rem;
  @include respond(tab) {
    margin: 2rem auto;
    justify-self: center;
    align-self: center;
    float: unset;
  }
}

.links {
  display: flex;
  gap: 2rem;
  flex-flow: row wrap;
}

.papers {
  display: flex;
  flex: 0 1 50%;
  gap: 1rem;
  flex-flow: wrap row;
}
