@import "../abstracts/mixins.module";
@import "../abstracts/variables.module";

.container {
  width: 123rem;
  height: 45rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  @include respond(tab) {
    width: 70rem;
    flex-flow: column-reverse wrap;
    height: auto;
    margin: 0;
    padding: 0 2rem;
    align-items: center;
    gap: 4rem;
  }
  @include respond(phone) {
    width: 45rem;
    flex-flow: column-reverse wrap;
    height: auto;
    margin: 0;
    padding: 0 2rem;
    align-items: center;
    gap: 4rem;
  }
  @include respond(big-desktop) {
    width: 123rem;
    height: 56.25rem;
    gap: 5rem;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    @include respond(phone) {
      justify-content: space-between;
      flex-flow: wrap;
    }
  }
  &__image {
    width: 45rem;
    height: 32rem;
    min-height: 15rem;
    position: relative;
    transition: 0.25s;
    &:hover {
      scale: 1.05;
      transition: 0.25s;
    }
    @include respond(phone) {
      width: 38rem;
      height: 27.15rem;
    }
  }
  &__text {
    width: 65rem;
    @include respond(tab) {
      width: 50rem;
    }
    @include respond(phone) {
      width: 40rem;
    }
  }
}
