@import "../abstracts/variables.module";
@import "../abstracts/mixins.module";

.container {
  padding: 2rem 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-flow: wrap column;
  @include respond(phone) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
  }
  &__email {
    position: relative;
    padding: 1rem;
    width: calc(6.45rem * 2.5);
    height: calc(1rem * 2.5);
    align-self: center;
  }
}

.contact_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  @include respond(phone) {
    flex-flow: wrap;
    gap: 1rem;
    justify-content: space-evenly;
  }
}

.image_wrapper {
  position: relative;
  height: 40rem;
  width: 32rem;
  display: flex;
  box-shadow: $color-grey 0.1rem 0.25rem 1rem;
  border-radius: 0.5rem;
  overflow: clip;
  @include respond(phone) {
    height: 35rem;
    width: 28rem;
    margin-right: 0;
  }
  @include respond(big-desktop) {
    height: 50rem;
    width: 40rem;
  }
}

.category {
  margin-left: 2rem;
}

.sadegh_box {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  justify-items: flex-start;
  min-height: 44rem;
  background-color: rgb($color-grey, 0.07);
  border-radius: 0.5rem;
  padding: 2rem;
  gap: 2rem;

  @include respond(phone) {
    flex-flow: row wrap;
    max-width: 45rem;
  }
  @include respond(tab) {
    max-width: 56rem;
    flex-flow: column wrap;
    align-items: center;
  }
  @include respond(big-desktop) {
    min-height: 55rem;
  }
  &__text {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    border-radius: 0.5rem;
    padding: 2.25rem 4rem;
    width: 60rem;
    max-height: 40rem;
    @include respond(phone) {
      max-width: 60rem;
      max-height: unset;
      height: auto;
      width: auto;
      flex-flow: row wrap;
      padding: 2rem;
    }
    @include respond(big-desktop) {
      width: 75rem;
      max-height: 50rem;
    }
  }
}
