@import "../../../scss/abstracts/variables.module";
@import "../../../scss/abstracts/mixins.module";
.container {
  &_banner {
    position: relative;
    @include respond(phone) {
      margin-top: 8rem;
    }
    &__text {
      background-color: rgb(#e7e7e7, 0.8);
      height: 12rem;
      display: flex;
      gap: 8rem;
      padding: 2rem 6rem;
      align-items: center;
      flex-flow: nowrap row;
      position: absolute;
      top: 28rem;
      width: 100vw;
      @include respond(phone) {
        flex-flow: wrap row;
        gap: 0;
        height: 20rem;
        padding: 2rem;
        top: 20rem;
      }
    }
  }
  &_image {
    position: relative;
    height: 40rem;
  }
  &_accordion {
    display: flex;
    margin-bottom: 8rem;
    flex-shrink: 0;
    width: 110rem;
    @include respond(phone) {
      min-width: 30rem;
    }
  }
  &_calls {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: wrap column;
    padding: 0 8rem;
    margin: 4rem 8rem;
    @include respond(phone) {
      padding: 0 2rem;
      margin: 4rem 0;
    }
  }
}
