$color-black: #1f1f1f;
$color-dark-grey: #404040;
$color-grey: #757575;
$color-light-grey: #9d9f9d;
$color-white: #fdfdfd;

$color-pale-blue: #6ab3f3;
$color-light-blue: #3c97e7;

$color-dark-green: #1c9e74;
$color-light-green: #8fc976;
$color-pale-green: #74bea6;
$color-slime: #55ffc8;
