.container {
  max-height: 15rem;
  min-height: 15rem;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.heading {
  position: absolute;
  padding: 0 4rem;
  z-index: 4;
}

.backdrop {
  background-color: rgb(91, 103, 99, 0.5);
  position: absolute;
  z-index: 2;
  max-height: 15rem;
  min-height: 15rem;
  width: 100vw;
}
