@import "../scss/abstracts/variables.module";
@import "../scss/abstracts/mixins.module";
.container {
  padding: 2rem 4rem;
  @include respond(phone) {
    padding: 2rem;
  }
}

.category {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: auto;
  max-width: 120rem;
  @include respond(phone) {
    gap: 1rem;
    align-content: center;
    text-align: center;
  }
}

.display {
  display: flex;
  flex-flow: row;
  min-height: 80rem;
}

.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  justify-items: center;
  gap: 3rem;

  @include respond(phone) {
    justify-content: space-evenly;
    gap: 1.5rem;
  }
}
.roles {
  display: flex;
  flex-flow: column wrap;
  flex: 100% 1 1;
}
.list {
  &_wrapper {
    position: relative;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    @include respond(phone) {
      display: none;
    }
  }

  &_item {
    position: sticky;
    height: 4rem;
    border: none;
    text-align: start;
    background-color: transparent;
    transition: 0.5s;
    color: $color-dark-grey;
    &__active {
      @extend .list_item;
      color: $color-pale-blue !important;
      text-decoration: underline $color-light-blue;
    }
    &:hover {
      transition: 0.5s;
      background-color: rgb($color-grey, 0.1);
      border-radius: 1rem;
    }
  }
}
.menu {
  &__button {
    margin-bottom: 2rem;
    height: 3rem !important;
    width: 20rem;
  }
}
