@import "../scss/abstracts/variables.module";
@import "../scss/abstracts/mixins.module";
.container {
  padding: 6rem 12rem;
  @include respond(tab) {
    padding: 6rem 8rem;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }
  @include respond(phone) {
    padding: 12rem 4rem 6rem 4rem;
  }
  &_fact_boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
  }
  &_sadegh {
    height: 50rem;
    width: 40rem;
    position: relative;
  }
  &_introduction {
    margin: 2rem 0 4rem 0;
    display: flex;
    gap: 4rem;
    flex-flow: row wrap;
    justify-content: center;
    @include respond(tab) {
      gap: 0;
    }
  }
}

.accordion {
  width: auto;
  &__content {
    margin-left: 1rem;
  }
}

.fact_box {
  text-align: center;
  border-radius: 1rem;
  width: 28rem;
  height: auto;
  padding: 2rem 2rem 2rem 2rem;
}
.sadegh_box {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  justify-items: flex-start;
  align-items: center;
  min-height: 44rem;
  background-color: rgb($color-grey, 0.07);
  border-radius: 0.5rem;
  padding: 2rem;
  gap: 2rem;
  @include respond(phone) {
    padding: 0;
    justify-items: center;
  }
  &__text {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    border-radius: 0.5rem;
    padding: 2.25rem 4rem;
    width: 70rem;
    max-height: 40rem;
    @include respond(tab) {
      justify-content: center;
      text-align: center;
      max-height: unset;
      width: unset;
      padding: 2rem;
    }
    @include respond(phone) {
      flex-flow: row wrap;
      padding: 2rem;
    }
    @include respond(big-desktop) {
      max-height: unset;
    }
  }
  @include respond(phone) {
    flex-flow: row wrap;
    height: auto;
    width: auto;
  }
}

.image_wrapper {
  position: relative;

  height: 40rem;
  width: 32rem;
  display: flex;
  box-shadow: $color-grey 0.1rem 0.25rem 1rem;
  border-radius: 0.5rem;
  overflow: clip;
  @include respond(phone) {
    height: 35rem;
    width: 28rem;
    margin-right: 0;
  }
}

.list {
  margin-left: 2rem;
}
