@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import "../scss/abstracts/variables.module";
@import "../scss/abstracts/mixins.module";
.container {
  width: 100%;
  height: 100%;
  position: relative;
  @media screen and (max-width: 900px) {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-flow: column wrap;
    margin-top: 10rem;
  }
  &__desktop {
    position: relative;
  }
  &__news {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    margin: 4rem 2rem;
    &__items {
      display: flex;
      flex-flow: column wrap;
      gap: 2rem;
    }
  }
  &__showcase {
    position: relative;
    display: flex;
    flex-flow: row;
    transition: 0.75s ease-in-out !important;
    background-color: $color-black;
    filter: drop-shadow(0 0.25rem 0.5rem rgb($color-black, 0.25))
      brightness(25%) blur(0.1rem);
    &:hover {
      transition: 0.75s ease-in-out !important;
      filter: drop-shadow(0 0.25rem 0.5rem rgb($color-black, 0.25))
        brightness(100%) blur(0);
    }
    &:hover + .container__text {
      opacity: 0;
      transition: 0.5s ease-in-out !important;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  &__text {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-items: center;
    position: absolute;
    text-align: center;
    z-index: 5;
    opacity: 1;
    transition: 0.5s ease-in-out !important;
    width: 32rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @include respond(big-desktop) {
      width: 60rem;
      min-height: 75rem;
    }
    @media screen and (max-width: 900px) {
      position: relative;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: auto;
      flex-flow: column wrap;
      padding: 0;
    }
    &__logos {
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: space-between;
    }
  }
}

.topic {
  &__backdrop {
    background-color: rgba(22, 22, 22, 0.9);
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100vw;
    opacity: 0;
    transition: 0.75s ease-in-out;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    height: calc(100vh - 6rem);
    width: calc(100vw / 6);
    min-width: calc(100vw / 24);
    margin: 0;
    padding: 0;
    overflow: clip;
    transition: 0.75s ease-in-out;
    z-index: 2;
    @include respond(big-desktop) {
      height: 75rem;
      width: calc(100vw / 6);
    }
    @media screen and (max-width: 900px) {
      height: 15rem;
      width: 100vw;
    }
    &:hover {
      transition: 0.75s ease-in-out;
      width: calc(100vw);
      filter: brightness(100%);
    }
    &:hover ~ .topic__image {
      transition: 0.75s;
    }
    &:hover .topic__text {
      opacity: 1;
      transition: 1s cubic-bezier(0.97, 0.06, 0.3, -0.25);
    }
    &:hover .topic__backdrop {
      opacity: 1;
      transition: 0.75s;
    }
  }
  &__text {
    display: flex;
    flex-flow: column;
    align-content: space-between;
    justify-content: space-between;
    margin: 4rem;
    width: 60%;
    min-height: 15rem;
    position: absolute;
    opacity: 0;
    transition: 0.25s ease-out;
    text-align: center;
    z-index: 5;
  }
  &__link {
    background-color: rgba($color-white, 0.2);
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    width: auto;
    margin-top: 2rem;
    color: $color-white !important;
    text-align: center;
    transition: 0.25s;
    &:hover {
      transition: 0.25s;
      background-color: rgba(163, 162, 180, 0.5);
      animation: pulse-black 2s infinite;
    }
  }
}

.mobile_heading {
  display: none;
  font-size: 2.8rem;
  font-weight: 700;
  color: $color-black;
  line-height: 1.075;
  width: 30rem;
  @media screen and (max-width: 900px) {
    display: block;
  }
}
.mobile_logo {
  animation: 3s infinite float;
  display: block;
  @media screen and (max-width: 900px) {
  }
}
.heading_slide {
  font-size: 4rem;
  font-weight: 700;
  color: $color-white;
  line-height: 1.15;
  @media screen and (max-width: 900px) {
    font-size: 3.6rem;
  }
}
.paragraph_slide {
  font-size: 1.5rem;
  font-weight: 400;
  color: $color-dark-white;
  margin: 0;
  @media screen and (max-width: 900px) {
    font-size: 1.2rem;
  }
  @include respond(big-desktop) {
    font-size: 1.875rem;
  }
}
.slide {
  object-fit: cover;
  height: 100%;
  transition: 0.25s ease-in;
  position: absolute;
  z-index: -2;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button {
  position: absolute;
  display: flex;
  gap: 1rem;
  color: #0189ff !important;
  border-radius: 0.75rem;
  z-index: 8;
  top: 62%;
  right: 62rem;
  background-color: rgb(#cee8ff, 0.6);
  box-shadow: 5px 5px 8px rgb($color-black, 0.3);
  padding: 1rem 4rem;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  @include respond(big-desktop) {
    right: 75rem;
  }
  @include respond(tab) {
    right: 40rem;
  }
  &:hover {
    scale: 1.05;
  }
  @media screen and (max-width: 900px) {
    color: $color-white !important;
    background-color: $color-light-blue;
    font-weight: 400 !important;
    height: 6rem;
    align-items: center;
    position: relative;
    width: 100vw;
    left: 0;
    top: 0;
    animation: none;
    justify-content: center;
    border-radius: 0;
    img {
      display: none;
    }
  }
}

.slider_mobile {
  height: 50rem;
  width: 100vw;
  position: relative;
  filter: drop-shadow(0 5px 5px rgb(0, 0, 0, 0.25));
  &__slide {
    position: relative;
    display: flex !important;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
  }
  &__text {
    display: flex;
    flex-flow: column;
    //transform: translateX(50%) translateY(25%);
    width: 70%;
    //position: absolute;
    transition: 0.75s;
    text-align: start;
    //z-index: 5;
  }
  &__backdrop {
    background-color: rgba(22, 22, 22, 0.5);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100vw;
    transition: 0.75s;
  }
}

@keyframes float {
  0% {
    filter: drop-shadow(1px 5px 4px rgb($color-black, 0.25));
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(1px 5px 6px rgb($color-black, 0.4));
    transform: translatey(-10px);
  }
  100% {
    filter: drop-shadow(1px 5px 4px rgb($color-black, 0.25));
    transform: translatey(0px);
  }
}
@keyframes pulse-black {
  0% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgb(#cee8ff, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(#cee8ff, 0);
  }

  100% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgb(#cee8ff, 0);
  }
}
