.member {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  max-width: 10rem;
  min-width: 10rem;
  height: auto;
  //background-color: #1C9E74;
  padding: 1rem;

  &_name {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    text-decoration: none;
    color: #101010;
    text-align: center;
  }
  &_role {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    text-decoration: none;
    color: #393939;
    text-align: center;
  }
  &_profile {
    transform: scale(1.1);
  }
}

.wrapper {
  &_profile {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0.5rem;
  }
  &_names {
  }
}
