@import "../scss/abstracts/variables.module";

.container {
}
.content {
  display: flex;
  position: relative;
  //flex-flow: wrap;
}

.article {
  &_wrapper {
    //display: flex;
    padding: 4rem 6rem;
  }
  &_boxes {
    display: flex;
    flex-flow: wrap row;
    gap: 4rem;
    transform: translateX(-1rem);
  }
}
.list {
  &_wrapper {
    background-color: rgb($color-grey, 0.2);
    padding: 4rem 0;
    position: relative;
    width: 20rem;
    min-height: 60rem;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
  }

  &_item {
    position: sticky;
    height: 4rem;
    width: 20rem;
    padding-left: 4.25rem;
    border: none;
    text-align: start;
    background-color: transparent;
    transition: 0.5s;

    &__active {
      @extend .list_item;
      background-color: $color-white;
    }
    &:hover {
      transition: 0.5s;
      background-color: $color-white;
    }
  }
}

.container_years {
  display: flex;
  gap: 2rem;
}
