.container {
  display: flex;
  flex-flow: column;
  padding: 2rem 0rem;
  position: relative;
  transition: 0.25s;
  width: 110rem;
  &__content {
    padding: 2rem;
    width: 110rem;
    text-align: justify;
  }
}
