@import "../scss/abstracts/variables.module";

.container {
  padding: 4rem 6rem 2rem 6rem;
  position: relative;
  display: flex;
  min-height: 60rem;
  max-width: 110rem;
  align-content: center;
  flex-flow: nowrap column;
  background-color: rgb($color-white, 0.92);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  filter: drop-shadow(0px 0px 5px rgb($color-black, 0.25));
  &_text {
    //display: flex;
    //flex-flow: wrap column;
  }

  &_content {
    //display: flex;
    //flex-flow: row wrap;
    //gap: 2rem;
    //align-items: center;
    text-align: justify;
  }

  &_image {
    min-height: 23rem;
    height: 23rem;
    min-width: 30rem;
    width: 30rem;
    overflow: hidden;
    border-radius: 0.5rem;
  }
}

.heading {
  display: inline-block;
  width: 40rem;
  flex: 0 0 100%;
  margin: 1rem 0 0 0;
}

.image {
  object-fit: fill;
  height: 23rem;
  width: 30rem;
}
