.container {
  background-image: url("../public/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.banner {
  display: flex;
  flex-flow: row;
}

.list {
  padding: 0rem 2rem;
}