.container {
  background-image: url("../public/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.banner {
  padding: 0 0rem;
  display: flex;
  flex-flow: row;
  gap: 0rem;
}

.list {
  padding: 2rem 20rem;
}
