@import "../scss/abstracts/variables.module";
@import "../scss/abstracts/mixins.module";
.container {
}
.content {
  display: flex;
  position: relative;
  @include respond(phone) {
    flex-flow: wrap column;
  }
}

.article {
  &_wrapper {
    //display: flex;
    padding: 4rem 6rem;
    @include respond(phone) {
      padding: 0;
    }
  }
  &_boxes {
    display: flex;
    flex-flow: wrap row;
    gap: 4rem;
    transform: translateX(-1rem);
    @include respond(phone) {
      justify-content: center;
    }
  }
}
.list {
  &_wrapper {
    background-color: rgb($color-grey, 0.2);
    padding: 4rem 0;
    position: relative;
    width: 20rem;
    min-height: 60rem;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    @include respond(phone) {
      width: 100vw;
      min-height: 20rem;
      height: auto;
      padding: 2rem 0;
    }
  }

  &_item {
    position: sticky;
    height: 4rem;
    width: 20rem;
    padding-left: 4.25rem;
    border: none;
    text-align: start;
    background-color: transparent;
    transition: 0.5s;
    @include respond(phone) {
      width: 100vw;
    }
    &__active {
      @extend .list_item;
      background-color: $color-white;
    }
    &:hover {
      transition: 0.5s;
      background-color: $color-white;
    }
  }
}

.container_years {
  display: flex;
  gap: 2rem;
}
