@import "scss/abstracts/mixins.module";
@import "scss/abstracts/variables.module";

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-items: flex-start;
  width: 65rem !important;
  min-width: 65rem !important;
  max-width: 65rem !important;

  @include respond(tab) {
    width: 51rem !important;
    min-width: 51rem !important;
    max-width: 51rem !important;
  }
  @include respond(phone) {
    width: 38rem !important;
    min-width: 38rem !important;
    max-width: 38rem !important;
  }
}

.image {
  width: 25rem;
  height: 19rem;
  @include respond(phone) {
    width: 100vw;
  }
  &_container {
    position: relative;
    width: 23rem;
    height: 18rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    transition: 0.25s ease-out;
    &:hover {
      transition: 0.25s ease-out;
      transform: scale(1.05);
    }
    @include respond(phone) {
      width: 100vw;
      //max-width: unset;
      //max-height: 22rem;
      //min-width: unset;
      //min-height: 22rem;
      border-radius: 0;
    }
  }
  &_category {
    width: 100%;
    position: absolute;
    z-index: 4;
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.25rem);
    color: $color-white;
    background-color: rgb($color-black, 0.25);

    &__text {
      margin: 0;
    }
    @include respond(phone) {
      //width: 100vw;
    }
  }
}
