@import "../scss/abstracts/variables.module";

.container {
  height: 50rem;
  //background-color: rgb(226, 226, 226, 1);
  margin: 0;
  padding: 4rem 2rem;
  min-width: 24rem;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.researchers {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  gap: 2rem;
}

.researcher {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  width: 100%;
  &__photo {
    height: 9.5rem;
    width: 9.5rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 1s;
  }
}
.spin {
  position: absolute;
  height: 10rem;
  width: 10rem;
  z-index: 5;
  transform: translateY(-0.25rem);
  border: 7px solid $color-pale-green;
  border-radius: 50%;
  border-right-color: $color-pale-green;
  border-bottom-color: $color-pale-blue;
  &:hover {
    transform: rotate(180deg) translateY(0.25rem);
    transition: 1s;
  }
}
.column {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

.image {
  height: 10rem;
  width: 10rem;
}
